body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

.hero{
height:100vh;
position:relative;
}

.slider-img{
width:100%;
height:100%;
object-fit:cover;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

button{
background:#2e7d32;
color:white;
padding:12px 25px;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1b5e20;
}

h2{
text-align:center;
margin:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:0 10%;
}

.card{
background:white;
padding:15px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}

.contact{
text-align:center;
margin:30px;
}

.contact input,
.contact textarea,
select{
width:300px;
padding:10px;
margin:10px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:green;
color:white;
padding:12px 18px;
border-radius:50px;
text-decoration:none;
}

